page-login {
    ion-content{
      background-image: url("../assets/image/Login_background.png");
      background-size: cover;
      text-align: center;
  
    }
    .hometext{
      color: #000000;
    }
    .main{
      margin-top: 30px;
      width: 180px;

    }

    button{
      // -webkit-box-shadow : 0 10px 30px 0 rgba(95,186,233,0.4);
      // box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
      margin: 0px;
      background-color: #ffffff;
    }

 
  

  .login{
    margin-top: 10px;
    text-align: cneter;
    border: none;
    padding: 15px 80px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    transition: all 0.3s ease-in-out;
    width: 85%;
    height: 35px;
    color: #ffffff;
  }
  input[type-text], input[type-password]{
    background-color: #F6F6F6;
    border: none;
    color: #535353;
    padding: 15px 32px;
    text-decoration:  none;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    transition: all 0.5s ease-in-out;
    height: 53px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;

  }

   /* ion-row { padding: 10px; float: right; }
    .re { margin: 0 auto; display: block; width: 350px; }
    form {
        margin-bottom: 32px;
        button {
          margin-top: 20px;
        }
      }
      p {
        font-size: 0.8em;
        color: #d2d2d2;
      }
      ion-label {
        margin-left: 5px;
      }
      ion-input {
        padding: 5px;
      }
      .invalid {
        border-bottom: 1px solid #FF6153;
      }
      .error-message .item-inner {
        border-bottom: 0 !important;
      }
      .logo {
          margin: 0 auto;
      } */

    }