<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <img class="main" src="assets/image/Logo2.png" alt="logo2" >
    <br>
    <br>
    <br>

    <ion-card>
      <ion-card-content>
  
     
    <form [formGroup]="loginForm" (submit)="login()" novalidate>
          <ion-item>
            <ion-label floating>이메일</ion-label>
            <ion-input formControlName="email" type="email"
                 [class.invalid]="!loginForm.controls.email.valid &&
                 loginForm.controls.email.dirty"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>비밀번호</ion-label>
            <ion-input formControlName="password" type="password"
                 [class.invalid]="!loginForm.controls.password.valid &&
                 loginForm.controls.password.dirty"></ion-input>
          </ion-item>
          <ion-item class="error-message"
              *ngIf="!loginForm.controls.password.valid &&
                     loginForm.controls.password.dirty">
            <p>Your password needs more than 6 characters.</p>
          </ion-item>
          <br>
          <button  type="submit" [disabled]="!loginForm.valid"><img src="assets/image/mail.png" alt="logo2" ></button>
          <button (click)="loginFacebook()"><img src="assets/image/facebook.png" alt="logo2" ></button>
          <button (click)="loginGoogle()"><img src="assets/image/google.png" alt="logo2" ></button>
        </form>
         <br>
         <div class="button-bar">
            <a  class= "hometext" text-center block clear  (click)='register()'>회원가입&nbsp;</a>|
            <a  class= "hometext" text-center block clear >&nbsp;&nbsp;아아디찾기&nbsp;&nbsp;</a>|
            <a  class= "hometext" text-center block clear (click)="goToResetPassword()">&nbsp;비밀번호찾기</a>
         </div>
         
        </ion-card-content>
      </ion-card>

</ion-content>
