<ion-header>
    <ion-navbar>
      <ion-title>
        사용자 프로필 수정
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding >
  
    <ion-card *ngIf="profile">
        <div class="profile_img-container">
            <img class="profile_img" src="{{profile.user_Img}}" (click)="selectImage()" alt="">
        </div>
      <ion-card-content>
        <ion-item>
          <ion-label floating>닉네임</ion-label><br>
          <ion-input [(ngModel)] = "profile.user_Nickname"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>이메일 주소</ion-label>
          <ion-input [value]="profile.user_Mail" [readonly]="!editable"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>전화번호</ion-label>
          <ion-input [(ngModel)] = "profile.user_Tel"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>성명</ion-label>
          <ion-input [(ngModel)] = "profile.user_Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>가입날자</ion-label>
          <ion-input [value]="profile.user_Date" [readonly]="!editable"></ion-input>
        </ion-item>
        <button *ngIf="profile; else notProfile" ion-button block (click)="updateData()">프로필 수정</button>
      </ion-card-content>
    </ion-card>
    <ng-template #notProfile>
        <head>
            <meta charset="utf-8" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <title>Hello World</title>
        </head>
      <button ion-button block (click)="moveLogin()" color='blue'>login</button>
     
    </ng-template>
  </ion-content>
  