page-updateprofile {
    .profile_img-container{
        background-color: #ffffff;
        margin: auto;
        max-width: 50%;
    }
    .profile_img {
        display: block;
        padding: 20px;
        margin: auto;
        max-width: 80%;
        
    }
    .ion-input{
        border-bottom: none;
    }
}
