<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>회원가입</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>
      <ion-card-content>
          <form [formGroup]="registerForm" (submit)="register()" novalidate>
              <ion-item>
                <ion-label stacked>Email</ion-label>
                <ion-input formControlName="email" type="email"
                           placeholder="이메일을 입력하세요"
                           [class.invalid]="!registerForm.controls.email.valid &&
                                            registerForm.controls.email.dirty">
                </ion-input>
              </ion-item>
              <ion-item class="error-message"
                        *ngIf="!registerForm.controls.email.valid &&
                               registerForm.controls.email.dirty">
                <p>Please enter a valid email.</p>
              </ion-item>
              <ion-item>
                <ion-label stacked>Password</ion-label>
                <ion-input formControlName="password" type="password"
                           placeholder="비밀번호를 입력하세요"
                           [class.invalid]="!registerForm.controls.password.valid &&
                                            registerForm.controls.password.dirty">
                </ion-input>
              </ion-item>
              <ion-item class="error-message"
                        *ngIf="!registerForm.controls.password.valid &&
                               registerForm.controls.password.dirty">
                <p>Your password needs more than 6 characters.</p>
            </ion-item>
            <ion-item>
                <ion-label stacked>UserName</ion-label>
                <ion-input formControlName="userName" type="text"
                           placeholder="이름을 입력하세요"
                           [class.invalid]="!registerForm.controls.userName.valid &&
                                            registerForm.controls.userName.dirty">
                </ion-input>
              </ion-item>
              <ion-item class="error-message"
                        *ngIf="!registerForm.controls.userName.valid &&
                               registerForm.controls.userName.dirty">
                <p>Please enter a valid name.</p>
            </ion-item>
            <ion-item>
                <ion-label stacked>NickName</ion-label>
                <ion-input formControlName="nickName" type="text"
                           placeholder="닉네임을 입력하세요"
                           [class.invalid]="!registerForm.controls.nickName.valid &&
                                            registerForm.controls.nickName.dirty">
                </ion-input>
              </ion-item>
              <ion-item class="error-message"
                        *ngIf="!registerForm.controls.nickName.valid &&
                               registerForm.controls.nickName.dirty">
                <p>Please enter a valid name.</p>
            </ion-item>
            <ion-item>
                <ion-label stacked>Phone Number</ion-label>
                <ion-input formControlName="phonenumber" type="text"
                           placeholder="01011111111"
                           [class.invalid]="!registerForm.controls.phonenumber.valid &&
                                            registerForm.controls.phonenumber.dirty">
                </ion-input>
              </ion-item>
              <ion-item class="error-message"
                        *ngIf="!registerForm.controls.phonenumber.valid &&
                               registerForm.controls.phonenumber.dirty">
                <p>Please enter a valid phonenumber.</p>
            </ion-item>
            <button ion-button color="roze" block type="submit" [disabled]="!registerForm.valid">
                Create an Account
              </button>
            </form>
      </ion-card-content>
    </ion-card>
  </ion-content>
