<ion-tabs>
   <ion-tab [root]="homeRoot" [rootParams]='uid' tabTitle="홈" tabIcon="home"></ion-tab>
   <ion-tab [root]="reviewRoot" [rootParams]='uid'tabTitle="시술후기" tabIcon="list-box"></ion-tab>
   <ion-tab [root]="eventRoot"[rootParams]='uid' tabTitle="이벤트" tabIcon="md-star"></ion-tab>
</ion-tabs>

