<ion-header>
  <ion-navbar>
    <ion-title>
      Event
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides slidesPerView="1" spaceBetween="10" pager="true" autoplay="5000" loop="true" speed="500">
  <ion-slide>
    <img class = "event_image" src = "assets/image/ad1.png">
  </ion-slide>
  <ion-slide>
    <img class = "event_image" src = "assets/image/ad2.png">
  </ion-slide>
  <ion-slide>
    <img class = "event_image" src = "assets/image/ad3.png">
  </ion-slide>
  </ion-slides>

  <p class="Title">요즘 뜨고 있는 이벤트</p>
  <img class="main_ad" src="assets/image/main_ad.png">
  <p class="content_title">헤어라인1000모미만 170</p>
  <p class="content">&ensp; &ensp; 연예인같은 동그란이마를 원한다면?띵지성형외과</p>

  <!-- <ion-list> -->

  <div class="item_set">
    <ion-item *ngFor="let event of eventList">
      <br>
      <div display="inline-block"><img class="round" src="{{event.advertise_Img}}"> </div>
      <button class="button">{{event.hospital_Name}}병원 </button>
      <br>
      <br> <button class="button">Call: 0{{event.hospital_Tel}}</button>
      <br> <button class="button">지역: {{event.hospital_Locate}}</button>
      <br> <button class="button"> {{event.hospital_Info}}</button>


    </ion-item>
  </div>


</ion-content>