page-event {
    .round{
        border-radius: 10px;
        width: 40%;
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: -80px;
    }

    .item_set{
        display: block;
    }

    .Title{
        margin-left: 20px;
        font-size: 17px;
        font-weight: bolder;

    }

    .main_ad{
        width: 90%;
        border-radius: 15px;
        height: 'auto';
        margin-left: 15px;
        margin-top: 10px;

    

    }

    .content_title{
        margin-left:20px;
        font-size: 15px;
        font-weight: bolder;
    }

    .content{
        font-size: 12px;
        margin-top: 5px;

    }
    .buttonTitle{
        margin-left: 50%;
        background-color: white;
 

    }

    .button{
        font-size: 15px;
        background-color: white;
        left: 50%;
        margin-top: -30%;
    

    }
    
    * {
      margin: 0;
      padding: 0;
    }

    .slides{
      width: 100%;
      height:160px;
      padding: 10px;
      
    }
  .event_image{
    width: 100%;
    height: 160px;

    }


}
