page-profile {


.profile_img-container{
    background-color: #ffffff;
    margin: auto;
    max-width: 50%;
}
.profile_img {
    display: block;
    padding: 20px;
    margin: auto;
    max-width: 800px;
    border-radius: 50%;
    
}
.ion-input{
    border-bottom: none;
}


}