page-home {

    .profileIcon{
        padding:  0px 20px 0px 0px;
    }
    .best{
        
        //margin-top: 150px;
        padding: -50px 0px 0px 0px;
        top: 20px;
     
    }

    .card{
        width: 97%;
    }


    .Title{
        font-size: 15px;
        font-weight: bold;
        // margin-top: 100px;
        font-style: Sans-Serif;
        text-align: left;
    }

    .writer{
        font-size: 15px;
        font-style: Sans-Serif;
        text-align: left;
    }

    .like{
        font-size: 12px;
        font-style: Sans-Serif;
        text-align: left;

    }

    .buttonTitle{
        margin-left: 50%;
        background-color: white;
 

    }

    .button{
        font-size: 15px;
        background-color: white;
        left: 50%;
        margin-top: -30%;
    

    }
   
    .main_ad{
        width: 95%;
        border-radius: 15px;
        height: 'auto';
        margin-left: 10px;
        margin-top: -10px;

    

    }

    .round{
        border-radius: 10px;
        width: 40%;
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: -80px;
    }

    .content_title{
        margin-left:20px;
        font-size: 15px;
        font-weight: bolder;
    }

    .content{
        font-size: 12px;
        margin-top: 5px;

    }

    .event_image{
        width: 100%;
        height:160px;
    }

    .main_slide{
        width: 100%;
        height:160px;

    }

    .best_slide{
        width:200px;
    }

    .best_image{
        width: 100%;
        height: 160px;
    }

      
}
