<ion-header>
  <ion-navbar>
    <ion-title>
      <br>
      <img src="assets/image/Logo3.png" height='auto' width='100'></ion-title>
    <ion-buttons end>
      <button class = "profileIcon"ion-button (click)="moveToProfile()">
        <ion-icon class = "people" name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>



</ion-header>

<ion-content padding>
  
 <ion-slides class = "main_slide" slidesPerView="1" spaceBetween="10" pager="true" autoplay="5000" loop="true" speed="500">
  <ion-slide>
    <img class = "event_image" src = "assets/image/main_ad1.png">
  </ion-slide>
  <ion-slide>
    <img class = "event_image" src = "assets/image/main_ad2.png">
  </ion-slide>
  <ion-slide>
    <img class = "event_image" src = "assets/image/main_ad3.png">
  </ion-slide>
  </ion-slides>

  <div class = "topleft">
    <img src="assets/image/Best_icon.png" height='40px' width='auto' margin-top='5px'>
  
  </div>
  <div>
<ion-card>
  
  <ion-card-content class="card">
      <ion-slides class="best" slidesPerView="1.5" spaceBetween="10" pager="true">
          <ion-slide class="best_slide" *ngFor="let bestProduct of bestProductList" (click)="moveToContent(bestProduct)">
              <img class="best_image" src="{{bestProduct.review_Img}}">
              <p><br></p>
              <h2 class="Title">{{bestProduct.review_Title}}</h2>
              <p class="writer">{{bestProduct.user_Nickname}}</p>
              <p class="like"> ♥: {{bestProduct.review_Like}}</p>
          </ion-slide>
      </ion-slides>
  </ion-card-content>
</ion-card>
</div>

<br>
  <p>
    <img src="assets/image/main_event_icon.png" height='30px' width='auto' style="margin:15px 5px">
  </p>
  <img class="main_ad" src = "assets/image/main_ad4.png">
  <p class="content_title">투명교정 월 9만원</p>
  <p class="content">&ensp; &ensp; 교정중에도 티가 안나~! 교정과 전문의 책임진료</p>

  <div class="item_set">
    <ion-item *ngFor="let event of eventList">
        <br>
        <div display="inline-block"><img class="round" src="{{event.advertise_Img}}"> </div>  
        <button class="button">{{event.hospital_Name}}병원 </button>
        <br>
        <br> <button class="button">Call: 0{{event.hospital_Tel}}</button>
        <br> <button class="button">지역: {{event.hospital_Locate}}</button>
        <br> <button class="button"> {{event.hospital_Info}}</button>
        
    
    </ion-item>
    </div>

</ion-content>