<ion-list>
    <ion-list-header text-right end color="primary"><ion-icon float-left name="ios-settings"></ion-icon>환경설정</ion-list-header>
    <button text-right ion-item (tap)="changeprofile()"><ion-icon float-left name="ios-create"></ion-icon>프로필 수정</button>
    <button text-right ion-item (tap)="UserdeleteSelect()"><ion-icon float-left name="ios-walk"></ion-icon>회원탈퇴</button>
 </ion-list>
