<ion-content padding>
    <img src="assets/image/Logo.png" style="width: 70%; height: auto; margin-top: 120px">
    <img src="assets/image/start.png" (click)="LoginPage()" style="width: 50%; height: auto; margin-top: 60px">
</ion-content>
