<ion-header>
  <ion-navbar>
    <ion-title>리뷰작성</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngIf="photopreview.length != 0;else choose" >
    <ion-card>
        <ion-slides slidesPerView="1" spaceBetween="10">
            <ion-slide *ngFor="let photo of photopreview; let id = index">
                <img class = "review_img" [src]="photo" *ngIf="photo" (click)="deletePhoto(id)"/>
            </ion-slide>
        </ion-slides>
    </ion-card>
  </div>
  <ng-template #choose>
    <ion-card>
        <ion-icon class="image" name="ios-images" (click)="saveUserImageFromGallery()"></ion-icon>
    </ion-card>
    </ng-template>
    <!-- <ion-col col-6 *ngFor="let photo of photopreview; let id = index">
        <ion-card class="block">
          <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
          <img [src]="photo" *ngIf="photo" />
          
        </ion-card>
    </ion-col> -->
  <ion-list>
      <ionic3-star-rating 
      activeIcon = "ios-star"
      defaultIcon = "ios-star-outline"
      activeColor = "#FFBFBD" 
      defaultColor = "#f4f4f4"
      readonly="false"
      [rating]="3">
  </ionic3-star-rating>
    <ion-item>     
      <ion-label stacked>제목</ion-label>
      <ion-input type="text" [(ngModel)]="product.review_Title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>카테고리</ion-label>
      <ion-select placeholder="부위를 고르시오" [(ngModel)]="product.review_Category">
        <ion-option value="eyes">눈</ion-option>
        <ion-option value="nose">코</ion-option>
        <ion-option value="face">안면윤곽</ion-option>
        <ion-option value="breast">가슴</ion-option>
        <ion-option value="body">바디라인</ion-option>
        <ion-option value="etc">기타부위</ion-option>
      </ion-select>
      <!-- <ion-input type="text" [(ngModel)]="product.review_Category"></ion-input> -->
    </ion-item>
  </ion-list>
  <ion-card class="review_content">
      
      <ion-card-content>
        <ion-textarea placeholder="내용을 작성하세요" [(ngModel)]="product.review_Content"></ion-textarea>
      </ion-card-content>
    
    </ion-card>
    <button ion-button (click)="insert()">공유</button>
</ion-content>