page-addproduct {
    .slides{
        margin-top: 50px;
        padding: -50px 0px 0px 0px;
        top: 20px;
       
    }

    .image{
        font-size:200px;
        margin: auto;
        max-width: 50%;
        display: block;
    }

    .review_img{
        height: 300px;
        width: 100%;
    }

    .review_content {
        display: block;
        height: 300px;
    }


}
