page-content {



    .main{
        font-size: 20px;
        font-family: 나눔고딕;
        font-weight: bolder;
    }

   .grid1{
       width: 50px;
    
   }

   .button1{
       padding: 10px 27px;
       display:inline-block;
       font-size:12px;
       background-color: #FFBFBD;
   }

   .button2{
    background-color: white;
    color: black;
    border: 2px solid #FFBFBD;
    padding: 10px 27px;
    border-radius: 4px;
    margin-left: 0px;

   }

   .input{
       margin-top: -15px;
       font-size: 13px;
   }

   .close{
       float:right;
       background-color: white;
       font-size:20px;
   }

    .photo{
     width: 100%;
     height: 210px;
    }

    .Title{
    font-weight: bolder;
    }

  

}
