<!--
  Generated template for the ContentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>시술후기</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item *ngIf="product">

    <p> </p>
    <h2>{{product.review_Title}}</h2>
    <p>#{{product.review_Category}}</p>
    <p>{{product.review_Date}}</p>

    <!-- <ion-buttons end> -->
  
    <!-- </ion-buttons> -->

    <ionic3-star-rating 
        activeIcon = "ios-star"
        defaultIcon = "ios-star-outline"
        activeColor = "#FFBFBD" 
        defaultColor = "#f4f4f4"
        readonly="true"
        [rating]="product.review_Satisfaction">
    </ionic3-star-rating>

    <br>
    <p> {{product.review_Content}}</p>
    
    <div style='display:inline;min-width:1200px;'><!--빨간 부분-->
      <div style='display:inline;float:left;width:200px'></div> <!--파란부분-->
      
          <ion-slides slidesPerView="2" spaceBetween="10">
              <ion-slide *ngFor="let photo of photos; let id = index">
                  <a [href]="photo"><img class = "photo" [src]="photo" *ngIf="photo"/></a>
              </ion-slide>
          </ion-slides>
         
         <!-- <ion-card class="block"> -->
        <!-- </ion-card> -->
        <div style='display:inline;float:left;width:1000px'></div> <!--연두부분 -->
      
    </div>

    <!-- </ion-buttons> -->


    <br>
    <p>  좋아요 {{product.review_Like}}</p>
    <br>

 
    <button class="button2" (click)="insertLikeR(product)">
      <ion-icon name="ios-thumbs-up"> 좋아요</ion-icon>
    </button>

    <button class = "button2" (click)="deleteR(product)" *ngIf="this.product.user_No == this.af.auth.currentUser.uid">
        <ion-icon name="delete" color = "red"> 글 삭제</ion-icon>
      </button>

  </ion-item>







  <div style='display:inline;min-width:1200px;'><!--빨간 부분-->
  <ion-list>
    <ion-item *ngFor="let comment of commentList">
      <p> </p>
      
      <p> {{comment.user_Nickname}} 
      <button class ="close" button (click)="deleteC(comment)" *ngIf="this.comment.user_No == this.af.auth.currentUser.uid">
          <ion-icon name="ios-close" ></ion-icon>
      </button>
     </p>

      <h2> {{comment.comment_Content}}
          <button class= "close" button (click)="insertLikeC(comment)">
              <ion-icon name="ios-heart-outline" [style.color]="'#EF3B51'"></ion-icon>
            </button>
      </h2>

      <br>
      <p>{{comment.comment_Date}}</p>
      <p>좋아요 {{comment.comment_Like}}</p>

    </ion-item>
  </ion-list>

  <div style='display:inline;float:left;width:75%'>
      <ion-label stacked ></ion-label>
      <ion-input class="input" type="text" placeholder="댓글을 입력하세요." [(ngModel)]="newcomment.comment_Content"></ion-input>
    </div> <!--연두부분 -->
    <div style='display:inline;float:left;width:25%'>
        <button class="button1" (click)="insertComment()">입력</button>
      </div> <!--파란부분-->
  </div>

</ion-content>