page-review {
    .category{ margin: 10px ; display: block; height: 35px ; }

    .button1{
        
        background-color: white; 
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3), 0 6px 10px 0 rgba(0,0,0,0.1);
        border: none;
        color: black;
        padding: 15px 32px;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-size: auto;
        width:100%
    }

    .writing{
        width: 50px;
        height: 'auto';
       

      }

    .profile_img{
       max-width: 30px;
       border-radius: 50%;
        margin-left: -15px;
        // margin-top: -20px;


    }

    .Name{
        font-size: 15px;
        color: black;
        // margin-left: -20px;
    }

    .Title{
        font-size: 20px;
        font-weight: bold;
        margin-top: -10px;
        font-style: Sans-Serif;
    }

    .review_img{
        width: 100%;
        max-height: 160px;
        margin: 0px 0px 0px -15px;
    }

    .reviewcard{
        padding:20px;
    }
}

