<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="assets/image/Logo3.png" height='auto' width='100'>

          </ion-col>
          <ion-col>
            <ion-buttons end>
              <button ion-button (click)="moveToMakeR()">
                <img class ="writing" src="assets/image/writing.png">
              </button>
            </ion-buttons>
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-title>
    <div class="container">
      <div class="row">
        <div class="one column" (click)="getData()"> <img class="category" src="assets/image/all_icon.png"></div>
        <div class="two column" (click)="showCategory('eyes')"  > <img class="category"  src="assets/image/eye_icon.png"></div>
        <div class="three column" (click)="showCategory('nose')"> <img class="category" src="assets/image/nose_icon.png"></div>
        <div class="four column" (click)="showCategory('face')"> <img class="category" src="assets/image/face_icon.png" ></div>
        <div class="five column" (click)="showCategory('breast')"> <img class="category" src="assets/image/breast_icon.png" ></div>
        <div class="six column" (click)="showCategory('body')"> <img class="category" src="assets/image/body_icon.png"></div>
        <div class="seven column" (click)="showCategory('etc')"> <img class="category" src="assets/image/more_icon.png" ></div>
      </div>
    </div>     
  </ion-navbar>
</ion-header>



<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
</ion-content>

<ion-content padding>
  <form (ngSubmit)="submitSearch(search_Content)">
    <ion-searchbar
      name="test"
      [(ngModel)]="search_Content">
    </ion-searchbar>
  </form>
  <ion-list>
    <ion-card class="reviewcard" *ngFor="let product of productList |paginate: { itemsPerPage: 10, currentPage: p}; let i = index" (click)="moveToContent(product)">
      <!-- <button class="button1" (click)="moveToContent(product)"> -->
        <ion-card-header>
        <h2 class="Title">{{product.review_Title}}</h2>
        <ion-grid>
          <ion-row>
            <ion-col>
                <img class="profile_img" src="{{product.user_Img}}" alt=""> 
            </ion-col>
            <ion-col> <p class="Name"> {{product.user_Nickname}}</p> </ion-col>
            <ion-col> </ion-col>
            <ion-col> </ion-col>
            <ion-col> </ion-col>
            <ion-col> </ion-col>
            <ion-col> </ion-col>
          </ion-row>
        </ion-grid>
        </ion-card-header>
            <ion-card-content>
                <img class="review_img" src="{{product.review_Img}}"  margin-top='5px'>
                <!-- <ion-slides slidesPerView="1" spaceBetween="10">
                    <ion-slide *ngFor="let review_Img of product">
                        <img class = "review_img" src="{{review_Img}}" *ngIf="review_Img"/>
                    </ion-slide>
                </ion-slides> -->
              
              </ion-card-content>
        <p item-right>날짜 : {{product.review_Date}}</p>
        <p item-right>카테고리:{{product.review_Category}}</p>
        <br>
        <p>댓글 : {{product.comment_N}} &ensp;&ensp; 좋아요 : {{product.review_Like}}</p>
      <!-- </button> -->
    </ion-card>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </ion-list>
</ion-content>